<div class="text-center">
  <h1>{{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>
</div>

<nav class="p-3">
  <ul class="nav nav-pills">

    <li *ngFor="let action of actions">
      <button
        (click)="setCurrentAction(action)"
        routerLink="{{action.routes}}"
        [class]="action==currentActin?
        'btn btn-success ms-1':'btn btn-outline-success ms-1'"
      >
        <i class="bi bi-{{action.icon}}} text-dark"></i>
        {{action.title}}
      </button>
    </li>
  </ul>
</nav>

<router-outlet>
</router-outlet>
